/* lato-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v24-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v24-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/red-hat-display-v19-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/red-hat-display-v19-latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/red-hat-display-v19-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 4px, -2;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

:root {
  --text-color: #565656;
  --black: #000;
  --hover: #2dd1ad;
  --gray: #7B7B7B;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: min(90%, 1170px);
  margin-inline: auto;
}

body {
  color: var(--text-color);
  font-family: "Lato", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  vertical-align: top;
}

button {
  display: block;
}

section {
  margin-bottom: 90px;
}

a span.arrow::after {
  display: inline-block;
  content: url("../images/arrow.svg");
  padding-inline: 20px;
  position: relative;
  top: 2px;
  transition: all 0.5s ease;
}
a span.arrow:hover::after {
  transform: translate(8px, 0);
}

.hamburger {
  display: none;
  width: 26px;
  height: 26px;
  margin-left: 40px;
  border: none;
  background: transparent;
  position: relative;
}

/*Header*/
header {
  padding: 37px 0;
  background-color: #fff;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .logo {
  margin-right: auto;
}
header .btn-block {
  display: flex;
  align-items: center;
}
header .btn {
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: none;
  transition: all 0.2s ease;
}
header .btn:hover {
  opacity: 0.5;
}
header .btn-search {
  background: url(../images/search.svg) no-repeat;
  background-size: cover;
  margin-left: 74px;
}

.main-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.2625rem;
}
.main-menu ul a {
  color: var(--black);
  position: relative;
  display: inline-block;
}
.main-menu ul a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: #000;
  bottom: -5px;
  left: 50%;
  display: inline-block;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
.main-menu ul a:hover::after {
  width: calc(100% - 10px);
}

/*Hero section*/
.hero-section {
  background: url(../images/bg-image.jpg) center center/cover no-repeat;
  height: calc(100vh - 100px);
  padding-top: 100px;
}

h1 {
  color: var(--black);
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: 0.15rem;
  width: 60%;
}

/*Blog*/
.blog .container > *:not(:last-child) {
  margin-bottom: 50px;
}

h2 {
  color: var(--black);
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.15rem;
}

.post {
  display: flex;
  gap: 30px;
  align-items: center;
}
.post.even {
  flex-direction: row-reverse;
}

.image-box, .post-content {
  width: 50%;
}

.theme, .post-date {
  color: var(--gray);
  line-height: 166%;
  letter-spacing: 0.1rem;
  margin-bottom: 30px;
}

.post-content h4 {
  color: var(--black);
  font-family: "Red Hat Display";
  font-size: 1.4375rem;
  font-weight: 500;
  line-height: 166%;
  letter-spacing: 0.14375rem;
  margin-bottom: 15px;
  width: 65%;
}
.post-content p {
  width: 79%;
  line-height: 166%;
  letter-spacing: 0.1rem;
}

.post-date {
  margin-bottom: 50px;
}

/*Latest posts*/
.section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.section-header h3 {
  color: var(--black);
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 166%;
  letter-spacing: 0.175rem;
}
.section-header .view-all-link {
  color: var(--gray);
  line-height: 166%;
  letter-spacing: 0.1rem;
}

.page-shadow {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.mobile-panel {
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(-300px);
  background: #fff;
  width: 300px;
  height: 100vh;
  z-index: 1000;
  transition: all 0.5s ease;
}

.open-mobile-menu .page-shadow {
  opacity: 1;
  visibility: visible;
}
.open-mobile-menu .mobile-panel {
  transform: translateX(0);
}

.mobile-menu ul {
  border-top: 1px solid var(--gray);
}
.mobile-menu ul li {
  border-bottom: 1px solid var(--gray);
}
.mobile-menu ul li a {
  display: inline-block;
  padding: 10px 20px;
  color: var(--gray);
  width: 100%;
}

/*media*/
@media screen and (max-width: 1000px) {
  .main-menu ul {
    gap: 20px;
  }

  header .btn-search {
    margin-left: 20px;
  }

  h1 {
    text-align: center;
    width: 100%;
  }

  .post-content .theme {
    margin-bottom: 15px;
  }
  .post-content p, .post-content h4 {
    width: 100%;
  }
  .post-content h4 {
    margin-bottom: 10px;
  }
  .post-content .post-date {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 800px) {
  .main-menu ul {
    gap: 15px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 40px);
    margin-inline: 20px;
  }

  header {
    padding: 33px 0;
  }
  header .main-menu {
    display: none;
  }
  header .btn {
    display: inline-block;
    width: 32px;
    height: 32px;
  }

  .hero-section {
    padding-top: 80px;
  }
}
@media screen and (max-width: 375px) {
  .hero-section {
    padding-top: 40px;
  }

  h1 {
    font-size: 2.4375rem;
    font-weight: 600;
    letter-spacing: 0;
  }
}