@import 'fonts';

$text-color: #000;
$bg-gray: #F5F3F9;
$bg-white: #fff;
$btn-blue: #6FCFFB;
$btn-red: #FD8D7B;


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9789F9;
    color: $text-color;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.25rem;
    letter-spacing: 0.04rem;
}

main {
    padding: 120px 0;
}

.container {
    width: min(90%, 1200px);
    margin-inline: auto;
}

ul {
    list-style-type: none;
}

/*Price list*/
.price-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.price-item {
    width: calc(33.33% - 30px*2/3);
    flex-grow: 1;
    background-color: $bg-gray;
    box-shadow: 0px 0px 20px 0px #8677EF;
    text-align: center;
    padding-top: 40px;

    &.popular {
        padding-top: 50px;
        position: relative;
    }
}

.circle {
    position: absolute;
    top: 16px;
    right: 30px;
}

.price {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.75rem;
    font-weight: 100;
    line-height: 3.75rem; /* 100% */
    letter-spacing: 0.3rem;
    margin-bottom: 24px;

    sup {
        font-size: 1.5rem;
        line-height: 1.5rem; /* 100% */
        position: relative;
        top: -4px;
    }

    sub {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1rem; /* 100% */
        letter-spacing: 0.08rem;
        position: relative;
        top: -10px;
    }
}

h2 {
    font-family: "Bebas Neue";
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.06rem;
    margin-bottom: 30px;
}

.white-bg {    
    padding-top: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='370' height='390' viewBox='0 0 370 390' fill='none'%3E%3Cpath d='M0 65.2489C0 65.2489 168.458 -81.5611 370 65.2489V390H0V65.2489Z' fill='white'/%3E%3C/svg%3E");
    background-position: center top;
    background-repeat: no-repeat;


}

.icon {
    display: inline-block;

    svg {
        width: 30px;
        height: 30px;
    }
}

.list {
    display: flex;
    justify-content: center;
    padding: 40px 0 60px;
    background-color: $bg-white;

}

ul {
    text-align: left;

    li + li{
        margin-top: 30px;
    }
}

