:root {
    --text-color: #544837;
    --headings-color: #2F281E;
    --hover-color: #F03E3D;
    --active-color: #D80B0A;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-feature-settings: 'liga' off, 'clig' off;
    font-weight: 500;
    line-height: 1.625rem;
}

.container {
    width: min(90%, 1230px);
    margin-inline: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
a {
    transition: all .1s ease-in;
}

.btn {
    color: #FFF;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    border: 1px solid #F90;
    border-radius: 4px;
    background: #F90;
    padding: 11px 18px;
    font-feature-settings: 'liga' off, 'clig' off;
}

.btn-white {
    color: #2F281E;
    background-color: #FFF;
    border: 1px solid #2F281E;
    padding: 11px 22px;
}

.btn:hover {
    background: var(--hover-color);
}

.btn-white:hover {
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
    background: transparent;
}

.btn:active {
    background: var(--active-color);
}

.btn-white:active {
    color: var(--active-color);
    border: 1px solid var(--active-color);
    background: transparent;
}

/*Header*/
header {
    padding: 17px 0;
    margin-bottom: 90px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.logo {
    align-self: flex-end;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav a {
    color: var(--headings-color);
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
}

nav a:hover {
    color: var(--hover-color);
}

header .btn:first-child {
    margin-right: 26px;
}

/*First*/
.first-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 56px;
    margin-bottom: 90px;
}

.first-section img {
    width: 644px;
}

h1 {
    color: var(--headings-color);
    font-size: 2.75rem;
    line-height: 55px;
    margin-bottom: 20px;
}

.first-section p {
    font-size: 1.125rem;
    line-height: 28px;
    margin-bottom: 37px;
}

.get-started-btn {
    padding: 12px 37px;
}

/*Features*/

.features {
    padding-bottom: 90px;
    background: #fff url(../images/bg.svg) center bottom/cover no-repeat;
    margin-bottom: 90px;
}

.features h2 {
    color: var(--headings-color);
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    width: 540px;
    margin-inline: auto;
    line-height: 44px;
    margin-bottom: 50px;
}

.features-list {
    display: flex;
    margin-inline: 15px;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 59px;
}

.feature-item {
    width: 25%;
}

.feature-icon {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 15px;
    text-align: center;
    padding: 17px 15px 15px 17px;
    line-height: 0;
    margin-bottom: 31px;
}

.feature-icon.purple {
    background: #7752BE;
}

.feature-icon.orange {
    background: #FAB005;
}

.feature-icon.red {
    background: #F03E3D;
}

.feature-icon.blue {
    background: #4DADF7;
}

.feature-item h3 {
    color: var(--headings-color);
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 17px;
}

.features-btn {
    display: block;
    margin-inline: auto;
    padding: 13px 31px;
}

/*Footer*/
footer {
    border-top: 1px solid #D6E0EB;
}

footer .container {
    padding: 69px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.form {
    width: 340px;
}

footer h4 {
    color: var(--headings-color);
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 30px;
}

footer .form h4 {
    margin-bottom: 22px;
    width: 280px;
}

footer a {
    color: var(--headings-color);
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

form input {
    width: 340px;
    height: 50px;
    padding: 0px 9px;
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;

}

form button {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 600;
    border: 0px solid transparent;
    border-radius: 4px;
    background: #F90;
    padding: 14px 32px;
    font-family: "Montserrat", sans-serif;
}

form button:hover {
    background: var(--hover-color);
}

form button:active {
    background: var(--active-color);
}